header{width:7.5rem;position:fixed;top: 0;left: 50%;transform: translateX(-50%);background-color: #24b4ff;z-index:20;overflow: hidden;}
header .head_fh{display:block;padding:0.27rem 0.24rem;position: absolute;left:0;top: 0;width:0.28rem;}
header .head_txt{display:block;padding:0.24rem 0.3rem;position: absolute;right:0;top: 0;font-size: 0.3rem;color: #fff;}
header p{font-size: 0.34rem;color:#fff;line-height: 0.88rem;text-align: center;}
/**main*/
.main{margin-top: 0.88rem;}
.main_top{background-color: #fff;overflow: hidden;padding: 0.26rem 0.24rem 0;}
.the_top{overflow: hidden;position: relative;border-bottom: 1px solid #e5e5e5;}
.user_head{float: left;display:inline-block;width: 0.8rem;height: 0.8rem;border-radius: 50%;margin-right: 0.14rem;}
.user_name{font-size: 0.28rem;line-height: 0.8rem;color: #555;float: left;}
.text_title{font-size: 0.28rem;line-height: 0.42rem;color: #333;clear: both;padding: 0.2rem 0;}
.the_middle{font-size: 0.28rem;line-height: 0.4rem;color: #333;margin:0.14rem 0 0.14rem 0;}
.the_middle p{font-size: 0.28rem;line-height: 0.4rem;color: #333;}
.small_sign{display:inline-block;font-size: 0.4rem;line-height: 0.4rem;color: #2fc500;}
.the_middle img{max-width:6.04rem;display:block;clear:both;margin: 0 auto;}
.the_bottom{overflow: hidden;margin-left: 0.94rem;}
.the_time{font-size: 0.24rem;line-height: 0.5rem;color: #999;float:right;}
